@import "tailwindcss";

body {
  margin: 0;
}

:root {
  --font-gillsans: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
  --font-plusjakarta: 'Plus Jakarta Sans', sans-serif;
  --font-worksans: 'Work Sans', sans-serif;
}

body {
  font-family: var(--font-gillsans);
}

@layer utilities {
  .font-gillsans {
    font-family: var(--font-gillsans);
  }
  .font-plusjakarta {
    font-family: var(--font-plusjakarta);
  }

  .font-worksans {
    font-family: var(--font-worksans);
  }
}
.font-gillsans {
  font-family: var(--font-gillsans);
}

.font-plusjakarta {
  font-family: var(--font-plusjakarta);
}

.font-worksans {
  font-family: var(--font-worksans);
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  background: #1b1ee4;
  border-radius: 9999px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background: #e5e7eb;
}