@import "tailwindcss";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --font-gillsans: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
  --font-plusjakarta: 'Plus Jakarta Sans', sans-serif;
  --font-worksans: 'Work Sans', sans-serif;
  --font-playfair-display: 'Playfair Display', serif;
  --font-montserrat: 'Montserrat', sans-serif;
}


body {
  font-family: var(--font-gillsans);
  
}

@layer utilities {
  .font-gillsans {
    font-family: var(--font-gillsans);
  }
  .font-plusjakarta {
    font-family: var(--font-plusjakarta);
  }

  .font-worksans {
    font-family: var(--font-worksans);
  }

  .font-playfair {
    font-family: var(--font-playfair-display);
  }

  .font-montserrat {
    font-family: var(--font-montserrat);
  }
}